body {
  margin-left: 0px;
  background-image: url("Images/fond.png");
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  }

  * {
    padding: 0;
    margin: 0;
  }
  
  header a {
    text-decoration: none;
  }
  
  header {
    padding: 0 20px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(233, 193, 193);
    font-family: 'Magra', sans-serif; 
  }
  
  #headtext {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  
  #headtext a {
    color: #09c372;
  }
  
  ul {
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  ul a {
    color: white;
  }
  
  ul li {
    padding: 5px;
    margin-left: 10px;
  }
  
  #hamburger-icon {
    margin: auto 0;
    display: none;
    cursor: pointer;
  }
  
  #hamburger-icon div {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .open .bar1 {
    -webkit-transform: rotate(-45deg) translate(-6px, 6px);
    transform: rotate(-45deg) translate(-6px, 6px);
  }
  
  .open .bar2 {
    opacity: 0;
  }
  
  .open .bar3 {
    -webkit-transform: rotate(45deg) translate(-6px, -8px);
    transform: rotate(45deg) translate(-6px, -8px);
  }
  
  .open .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .mobile-menu {
    display: none;
    position: absolute;
    top: 50px;
    right: 1px;
    height: calc(150vh - 50px);
    background-color: rgb(184, 131, 140);
    padding-right: 1px;
    text-align: right;
  }
  
  .mobile-menu li {
    margin-bottom: 10px;
  }
  
  @media only screen and (max-width: 720px) {
    header nav {
      display: none;
    }
  
    #hamburger-icon {
      display: block;
    }
  }

h1
{
    font-family: 'Luxurious Script', cursive;
    font-size: 400%;
    text-align: center;
}

#container
{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    vertical-align: middle;
    align-items: center;
    padding: 20px;
    text-align: center;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    background-color: rgb(235, 235, 235);
    width: 102%;
}

.text
{
    margin-top: 40px;
    width: 250px;
    text-align: left;
    text-decoration:none; 
    list-style-type:none;
    margin-left: 0px;
    display: block;
}

.cards
{
    background: rgb(246, 246, 255);
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.prix
{
    margin-top: -10px;
    font-size: 150%;
}

.grey
{
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:rgb(46, 46, 46);
    color:white;
    width: 124%;
    margin-left:-30px;
}

.button
{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    background-color: rgb(189, 78, 78);
    text-decoration: none;
}

.button:hover 
{
    background-color: rgb(168, 104, 104);
}

.li
{
    color: gray;
}

article 
{
    font-size: 20%;
}

@media all and (max-width: 1100px) {
  body 
  {
    overflow-y:visible;
  }
}

@media all and (max-width: 720px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
      background-color: rgb(216, 197, 197);
    }

  
    nav {
      height: 0;
      width: 100%;
      transition: 250ms height ease-in-out;
      margin-left: -700px;
    }

    .logo
    {
      display: none;
    }
  
    li {
    display: block;
      text-align: center;
      padding: 1.5rem 0;
    }
  
    li a {
      font-size: 1.4rem;
    }
  
    .nav-toggle {
      display: block;
      margin-top: -9px;
    }

    .logo
    {
      margin-top: -65px;
    }
  }

  
