body {
    margin-left: 0px;
    background-image: url("img/fond.png");
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Magra', sans-serif; 
  }

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #353836;
}

header a {
  text-decoration: none;
}

header {
  padding: 0 20px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(233, 193, 193);
}

#headtext {
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#headtext a {
  color: #09c372;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 1px;
  height: calc(150vh - 50px);
  background-color: rgb(184, 131, 140);
  padding-right: 1px;
  text-align: right;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 720px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

h1
{
    font-family: 'Luxurious Script', cursive;
    font-size: 400%;
    text-align: center;
}

.GALERIE-allphotos
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    max-width: 1300px;
    margin: 70px auto 0;
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.GALERIE-img
{
    width: 300px;
    margin-left: 5px;
    transition: transform .2s;
}

.GALERIE-img:hover 
{
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.1); 
}

.GALERIE-allphotos:hover {
    -webkit-transform: scale(1.1);
	transform: scale(1.05);
}